.header {
  background-color: royalblue;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul {
  list-style: none;
  display: flex;
}

.header li {
  margin-right: 2rem;
}

.header a {
  text-decoration: none;
  font-weight: 600;
  color: hsl(225, 73%, 90%);
}

.header a:hover {
  color: white;
}

.active {
  color: white !important;
}

.header .balance {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: white;
}
