.table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid black;
}

.table tr:nth-child(even) {
  background-color: #eee;
}

.table th,
.table td {
  text-align: center;
  padding: 0 0.5rem;
}

.table th {
  background-color: black;
  color: white;
  padding: 1rem 0.5rem;
}
