@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea,
select,
option {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
button {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 2rem;
}

.select-multiple {
  display: flex;
}

.select-white {
  color: white;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.row-reverse input {
  margin-right: 0.5rem;
}

.row-reverse label {
  margin-right: 1rem;
}

button.red {
  background-color: darkred;
  color: white;
}

button.red:hover,
button.red:focus {
  background-color: red;
}
